*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/TerrainTexturesPackFree/*.png filter=lfs diff=lfs merge=lfs -text
Assets/TerrainTexturesPackFree/**.png filter=lfs diff=lfs merge=lfs -text
Assets/TerrainTexturesPackFree/TerrainTextures/*.png filter=lfs diff=lfs merge=lfs -text
